<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qk.mapper.CharacterMapper">
    <!-- 修改角色 -->
    <update id="updateRole">
        update role
        <set>
            <if test="name != null and name != ''">
                name=#{name},
            </if>
            <if test="label != null and label != ''">
                label=#{label},
            </if>
            <if test="remark != null and remark != ''">
                remark=#{remark},
            </if>
            <if test="updateTime != null">
                update_time= #{updateTime},
            </if>
        </set>
        where id=#{id}
    </update>
    <!-- 角色列表查询 -->
    <select id="findRoles" resultType="com.qk.entity.Character"> /*记者character在mysql中是保留字所以能用,角色以后用role就行了*/
        select id , name, label, remark, create_time, update_time from role
        <where>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="label != null and label != ''">
                and label like concat('%',#{label},'%')
            </if>
        </where>
    </select>
</mapper>